table {
  width: 60%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background-color: #4CAF50; /* Başlık için yeşil tonunda arka plan */
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

thead th {
  padding: 12px;
}

tbody tr {
  text-align: center;
  background-color: #f9f9f9; /* Açık gri arka plan */
  transition: background-color 0.2s ease;
}

tbody tr:nth-child(even) {
  background-color: #f1f1f1; /* Çift satırlar için daha koyu bir ton */
}

tbody tr:hover {
  background-color: #e0f7fa; /* Hover sırasında mavi ton */
}

tbody td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; /* Hover sırasında daha koyu yeşil */
}

p {
  color: red; /* Hata mesajı rengi */
  font-size: 14px;
  margin-top: 10px;
}
